body {
  background: linear-gradient(135deg, #4b1a7a, #7a2fbf);
  color: white;
  font-family: Arial;
  text-align: center;
  padding-top: 30px;
}

button {
  background: orange;
  border: none;
  padding: 15px 30px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}

#gameArea {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

canvas {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 15px;
  border: 3px solid rgba(255, 255, 255, 0.3);
}